{% extends "layout.html" %} {% block title %}Signup page{% endblock %} {% block content %}

<section class="about-page">
        
    <div class="about-ce">
        <div class="head">
            <p>About CE</p>
        </div> 
        <div class="content">
            <p>
            Computer Literacy has become a necessity in the developed and developing countries.
            CE University of Technology has three decades of experience in offering Computer Science
            and Engineering programs. The Department of Computer Engineering which currently is the
            sole center for offering various computer programs, is one of the top ranked departments in the country.
            </p>
            <p>
                The Department of Computer Engineering was established in 1985 as the first independent
                computer engineering department in Iran. In 1986, the department officially began admitting
                undergraduate students in two majors, “Software” and “Hardware”. The department’s graduate
                studies program was initiated by the introduction of two MS majors in 1987,
                “Software Engineering” and “Computer Architecture”; the program was later expanded
                through the introduction of the PhD program in 1997, and the addition of the
                “Artificial Intelligence” MS major in 1998. In 2002, the undergraduate and
                graduate programs were further complemented by “Information Technology Engineering”
                majors at the BS and MS levels.
            </p>
        </div>           
    </div>
        
    <div class="member">
        <div class="head">
            <p>People</p>
        </div>
        <div class="botton">
            <div class="mem">
                <div class="mem-pic">
                        <div class="hover"></div>
                        <img src="{{url_for('static',filename='image/member3.jpg')}}">
                </div>
                <div class="mem-cap">
                    <p class="name">Professor Dan</p>
                    <p><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;1234567</p>
                    <p><i class="fa fa-home" aria-hidden="true"></i>&nbsp;Room 200</p>
                </div>
            </div> 
            <div class="mem">
                 <div class="mem-pic">
                        <div class="hover"></div>
                        <img src="{{url_for('static',filename='image/member2.jpg')}}">
                </div>
                <div class="mem-cap">
                    <p class="name">Professor Morgan</p>
                    <p><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;1234567</p>
                    <p><i class="fa fa-home" aria-hidden="true"></i>&nbsp;Room 200</p>
                </div>
            </div>  
            <div class="mem">
                <div class="mem-pic">
                        <div class="hover"></div>
                        <img src="{{url_for('static',filename='image/member1.jpg')}}">
                </div>
                <div class="mem-cap">
                    <p class="name">Professor Berant</p>
                    <p><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;1234567</p>
                    <p><i class="fa fa-home" aria-hidden="true"></i>&nbsp;Room 200</p>    
                </div>    
            </div>  
            <div class="mem">
                <div class="mem-pic">
                        <div class="hover"></div>
                        <img src="{{url_for('static',filename='image/member4.jpg')}}">
                </div>
                <div class="mem-cap">
                    <p class="name">Professor Parton</p>
                    <p><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;1234567</p>
                    <p><i class="fa fa-home" aria-hidden="true"></i>&nbsp;Room 200</p>    
                </div>    
            </div>  
            <div class="mem">
                <div class="mem-pic">
                        <div class="hover"></div>
                        <img src="{{url_for('static',filename='image/member1.jpg')}}">
                </div>
                <div class="mem-cap">
                    <p class="name">Professor Domingos</p>
                    <p><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;1234567</p>
                    <p><i class="fa fa-home" aria-hidden="true"></i>&nbsp;Room 200</p>    
                </div>    
            </div>  
            <div class="mem">
                <div class="mem-pic">
                        <div class="hover"></div>
                        <div class="hover"></div>
                        <img src="{{url_for('static',filename='image/member2.jpg')}}">
                </div>
                <div class="mem-cap">
                    <p class="name">Professor Thompson</p>
                    <p><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;1234567</p>
                    <p><i class="fa fa-home" aria-hidden="true"></i>&nbsp;Room 200</p>    
                </div>    
            </div> 
            <div class="mem">
                <div class="mem-pic">
                        <div class="hover"></div>
                        <img src="{{url_for('static',filename='image/member4.jpg')}}">
                </div>
                <div class="mem-cap">
                    <p class="name">Professor Reddy </p>
                    <p><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;1234567</p>
                    <p><i class="fa fa-home" aria-hidden="true"></i>&nbsp;Room 200</p>    
                </div>    
            </div>  
            <div class="mem">
                <div class="mem-pic">
                        <div class="hover"></div>
                        <img src="{{url_for('static',filename='image/member3.jpg')}}">
                </div>
                <div class="mem-cap">
                    <p class="name">Professor john</p>
                    <p><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;1234567</p>
                    <p><i class="fa fa-home" aria-hidden="true"></i>&nbsp;Room 200</p>    
                </div>    
            </div>      
        </div>
    </div>

</section>

{% endblock %}